.element {
    width: 100%;
    aspect-ratio: 1 / 1.4;
}

.image-container {
    height: 50%;
}

.image-container img {
    height: 100%;
}

.element:hover {
    transform: scale(1.1);
    box-shadow: 2px 2px 2px 2px;
    z-index: 10;
    cursor: pointer;
}

.icon-delete {
    position: absolute;
    z-index: 10;
    color: red;
    right: 3px;
    top: 3px;
}

.bodyWrap {
    white-space: nowrap;
    /* Prevent text from breaking into new line*/
}

.textWrap {
    overflow: hidden;
    /* This is optional; it hides the overflow if the text is too long to fit */
    text-overflow: ellipsis;
    /* This is optional; it adds an ellipsis (...) if the text overflows */
}